.title {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    
}

.top {
    /* width: 1140px; */
    margin-top: 90px;
    margin-left: 150px;
}

.inst {
    margin-top: 20px;
    margin-left: 150px;
    
    text-align: left;
    line-height: 2; 
}

.line {
    width: 1140px;
    height: 1px;
    background: #BABABA;
    margin-left: 150px;
}

.bold {
    color: var(--title, #19212F);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 100px;
    margin-top: 90px;
}

.menu {
    color: var(--text, #4D4D4D);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: -500px;
}

.button1{
    display: flex;
    width: 150px;
    height: 37px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0px 10px 10px 0px;
    background: var(--primary-color, #405678);
    margin-left: 500px;
    margin-top: -38px;

    color: #EDEFF3;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
}

.textbox{
    display: flex;
    width: 400px;
    height: 15px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid var(--textfield, #BABABA);
    background: #FFF;
}

.qtext {
    display: flex;
    width: 753px;
    height: 230px;
    padding: 19px 20px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--textfield, #BABABA);
    background: #FFF;
    margin-left: 30px;
 }

 .button2{
    display: flex;
    width: 300px;
    height: 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 104px;
    margin-left: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
 }

 .button2.active {
    
    background: var(--primary-color, #405678);

    color: #EDEFF3;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 100% */
 }

.datebox {
    display: flex;
    width: 580px;
    height: 15px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid var(--textfield, #BABABA);
    background: #FFF;
}

.timebox {
    display: flex;
    width: 580px;
    height: 15px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid var(--textfield, #BABABA);
    background: #FFF;
}